a:hover {
  text-decoration: none !important;
}

/*Landing Page*/

/*Header*/
.subtitle {
  margin-top: 0;
}

.cookieMonsterImg {
  float: left;
  height: 100px;
}

/*Cart Preview*/

@media only screen and (min-width: 768px) {
  #headerRow {
    position: relative;
  }

  #cartRow {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

/*Product Grid*/

.cookieContainer {
  height: 300px;
  overflow: hidden;
}

.cookieImage {
  max-width: 515px;
}

.cookieCategory {
  font-style: italic;
}

.thumbnail {
  height: 500px;
}

/*Nav*/

#nav {
  margin-top: 10px;
  margin-bottom: 10px;
}

.navAuth {
  display: inline-block;
}

#login {
  margin-right: 20px;
}

.authFormField {
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15
}

/*Footer*/

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px !important;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}
