#main {
  padding: 0px;
}

a:hover {
  text-decoration: none;
}

/*Landing Page*/

/*Header*/
.subtitle {
  margin-top: 0;
}

.cookieMonsterImg {
  float: left;
  height: 100px;
}

/*Cart Preview*/

@media only screen and (min-width: 768px) {
  #headerRow {
    position: relative;
  }

  #cartRow {
    position: absolute;
    bottom: 0;
    right: 0;
  }
}

#cartPreviewIcon {
  font-size: 20px;
}

#cartPreviewText {
  font-size: 16px;
}

/*Product Grid*/

.cookieContainer {
  height: 300px;
  overflow: hidden;
}

.cookieImage {
  max-width: 515px;
}

.cookieCategory {
  font-style: italic;
}

.thumbnail {
  height: 500px;
}

.quantity {
  width: 50px;
  display: inline-block;
}

#quantityText {
  font-size:16px;
}

/*Nav*/

.navbar-brand {
  padding-top: 5px;
}

.navbar-brand img {
  display: inline-block;
}

#brand {
  height: 40px;
}

#brand-title {
  margin-left: 15px;
}

.navbar-nav>li>a:hover {
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .navbar-nav>li>p.navbar-text {
    margin-left: 15px;
  }
}

/*Login & SignUp*/

.auth-field {
  margin-bottom: 20px !important;
}

/*Footer*/

html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

/*Order*/

#orderDetail {
  margin-top: 35px;
}

.orderTableFooterTitles {
  font-weight: 600;
}

#shippingCarrier {
  font-weight: 600;
}

/*Reviews*/

#reviews {
  margin-top: 35px;
}

#reviewTitle {
  margin-top: 0;
  margin-bottom: 20px;
}

.review {
  margin-bottom: 20px;
}

.reviewStar {
  color: gold;
}

.reviewBody {
  font-size:16px;
}

.reviewUser {
  font-style: italic;
}

/*Users*/

#users a:hover {
  cursor: pointer;
}
