/*Landing Page*/

.subtitle {
  margin-top: 0;
}

.cookieMonsterImg {
  float: left;
  height: 100px;
}

.cookieContainer {
  height: 300px;
  overflow: hidden;
}

.cookieImage {
  max-width: 515px;
}

.cookieCategory {
  font-style: italic;
}

.thumbnail {
  height: 500px;
}
